[Unit]
Description=Go Web App
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/bnixon/src/webapp/cmd/webapp
ExecStart=/home/bnixon/src/webapp/cmd/webapp/webapp /home/bnixon/src/webapp/cmd/webapp/service.json
User=bnixon
Restart=on-failure
RestartSec=5s
Type=simple

[Install]
WantedBy=multi-user.target
