<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/css/pico.min.css">
</head>
<body>
  <header class="container-fluid">
    <nav>
      <ul> <li> <a href="/">{{.Title}}</a> </li> </ul>
      {{if .User.IsAdmin}}
      <ul> <li> <a href="/userscsv">Download</a> </li> </ul>
      {{end}}
      <ul>
        {{if .User.IsAdmin}}
        <li> <a href="/events">Events</a> </li>
        {{end}}
        <li> <a href="/logout">Logout</a> </li>
      </ul>
    </nav>
  </header>

  <main class="container-fluid">
    {{ if .User.Username }}
    <table>
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Full Name</th>
          {{ if $.User.IsAdmin }}
          <th scope="col">Email</th>
          <th scope="col" style="text-align:center">IsAdmin</th>
          <th scope="col">Created</th>
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range .Users }}
        <tr>
          <td>{{.Username}}</td>
          <td>{{.FullName}}</td>
          {{if $.User.IsAdmin}}
          <td>{{.Email}}</td>
          <td style="text-align:center">{{.IsAdmin}}</td>
          <td>{{.Created.Format "2006-01-02 03:04 PM"}}</td>
          {{ end }}
        </tr>
        {{ end }}
      </tbody>
    </table>
    {{ else }}
    <p>You must <a href="/login?r=/users">Login</a></p>
    {{ end }}
  </main>
</body>
</html>
