<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/pico.min.css">
</head>
<body>
  <header class="container-fluid">
    <nav>
      <ul>
        <li> <a href="/">{{.Title}}</a> </li>
      </ul>
      {{if .User.Username}}
      <ul>
        <li> <a href="/users">Users</a> </li>
        {{if .User.IsAdmin}}
        <li> <a href="/events">Events</a> </li>
        {{end}}
        <li> <a href="/logout">Logout</a> </li>
      </ul>
      {{else}}
      <ul>
        <li> <a href="/forgot">Forgot</a> </li>
        <li> <a href="/register">Register</a> </li>
        <li> <a href="/login">Login</a> </li>
      </ul>
      {{end}}
    </nav>
  </header>

  <main class="container">
    {{if .User.Username}}
    <table>
      <thead>
        <tr>
          <th scope="col">Attribute</th>
          <th scope="col">Value</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>User Name</td>
          <td>{{ .User.Username }}</td>
        </tr>

        <tr>
          <td>Full Name</td>
          <td>{{ .User.FullName }}</td>
        </tr>

        <tr>
          <td>Email</td>
          <td>{{ .User.Email }}</td>
        </tr>

        <tr>
          <td>IsAdmin</td>
          <td>{{ .User.IsAdmin }}</td>
        </tr>

        <tr>
          <td>Confirmed</td>
          <td>{{ .User.Confirmed }}</td>
        </tr>

        <tr>
          <td>Created</td>
          <td>{{ .User.Created.Format "2006-01-02 03:04 PM" }}</td>
        </tr>

        <tr>
          <td>Last Login</td>
          <td>{{ .User.LastLoginTime.Format "2006-01-02 03:04 PM" }}</td>
        </tr>
      </tbody>
    </table>
    {{ else }}
    <p> You must <a href="/login?r=/hello">Login</a> </p>
    {{ end }}
  </main>
</body>
</html>
